@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Jetbrains Mono', 'Stack Sans Text', 'Courier New', Courier, monospace;
  background: #222222;
  color: white;
}
